main {
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;

    position: fixed;
    z-index: 100;
    width: calc(100% - 5rem);
}

.logo-and-hamburger {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.hamburger-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.2s ease-in-out;
}

.hamburger-btn:hover {
    opacity: 0.7;
}

.logo {
    height: 2.5rem;
    object-fit: contain;
    padding-top: 1.5rem;
}

.cart-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.cart-btn img {
    height: 2rem;
    object-fit: contain;
}

.slideshow {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 100svh);
    animation: slideUp 13.33s ease-out infinite;
    overflow: hidden;
}

.slideshow img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes slideUp {
    0%, 28.57% {
        transform: translateY(0);
    }
    33.33%, 61.9%  {
        transform: translateY(-100svh);
    }
    66.66%, 95.23% {
        transform: translateY(-200svh);
    }
    100% {
        transform: translateY(-300svh);
    }
}

@media (max-width: 768px){
    .header {
        padding: 0 1.5rem;
        width: calc(100% - 3rem);
    }

    .hamburger-btn:hover {
        opacity: 1;
    }
}